html, body {
	font-family: sans-serif;
	margin: 0;
	width: 100vw;
	height: 100vh;
	padding: 0;
	overflow: hidden;
}
body {
	background:	url('../img/debug_grid.png') repeat-x fixed top center;
	align-items: stretch;
	align-content: stretch;
	display: flex;
	flex-direction: column;
}
.ic_notifications {
	-webkit-mask-image: url('../img/icons/ic_notifications.svg');
	-moz-mask-image: url('../img/icons/ic_notifications.svg');
	mask-image: url('../img/icons/ic_notifications.svg');
}
.ic_settings {
	-webkit-mask-image: url('../img/icons/ic_settings.svg');
	-moz-mask-image: url('../img/icons/ic_settings.svg');
	mask-image: url('../img/icons/ic_settings.svg');
}
.ic_person {
	-webkit-mask-image: url('../img/icons/ic_person.svg');
	-moz-mask-image: url('../img/icons/ic_person.svg');
	mask-image: url('../img/icons/ic_person.svg');
}
.ic_exit {
	-webkit-mask-image: url('../img/icons/ic_exit.svg');
	-moz-mask-image: url('../img/icons/ic_exit.svg');
	mask-image: url('../img/icons/ic_exit.svg');
}
.ic_search {
	-webkit-mask-image: url('../img/icons/ic_search.svg');
	-moz-mask-image: url('../img/icons/ic_search.svg');
	mask-image: url('../img/icons/ic_search.svg');
}
.ic_help {
	-webkit-mask-image: url('../img/icons/ic_help.svg');
	-moz-mask-image: url('../img/icons/ic_help.svg');
	mask-image: url('../img/icons/ic_help.svg');
}
.ic_key {
	-webkit-mask-image: url('../img/icons/ic_key.svg');
	-moz-mask-image: url('../img/icons/ic_key.svg');
	mask-image: url('../img/icons/ic_key.svg');
}
.ic_arrow {
	-webkit-mask-image: url('../img/icons/ic_arrow.svg');
	-moz-mask-image: url('../img/icons/ic_arrow.svg');
	mask-image: url('../img/icons/ic_arrow.svg');
}
.ic_home {
	-webkit-mask-image: url('../img/icons/ic_home.svg');
	-moz-mask-image: url('../img/icons/ic_home.svg');
	mask-image: url('../img/icons/ic_home.svg');
}
.ic_users {
	-webkit-mask-image: url('../img/icons/ic_users.svg');
	-moz-mask-image: url('../img/icons/ic_users.svg');
	mask-image: url('../img/icons/ic_users.svg');
}
.ic_add {
	-webkit-mask-image: url('../img/icons/ic_add.svg');
	-moz-mask-image: url('../img/icons/ic_add.svg');
	mask-image: url('../img/icons/ic_add.svg');
}
.ic_info {
	-webkit-mask-image: url('../img/icons/ic_info.svg');
	-moz-mask-image: url('../img/icons/ic_info.svg');
	mask-image: url('../img/icons/ic_info.svg');
}
.ic_document {
	-webkit-mask-image: url('../img/icons/ic_document.svg');
	-moz-mask-image: url('../img/icons/ic_document.svg');
	mask-image: url('../img/icons/ic_document.svg');
}
.ic_diagnostics {
	-webkit-mask-image: url('../img/icons/ic_diagnostics.svg');
	-moz-mask-image: url('../img/icons/ic_diagnostics.svg');
	mask-image: url('../img/icons/ic_diagnostics.svg');
}
.ic_bugs {
	-webkit-mask-image: url('../img/icons/ic_bugs.svg');
	-moz-mask-image: url('../img/icons/ic_bugs.svg');
	mask-image: url('../img/icons/ic_bugs.svg');
}
.ic_analytics {
	-webkit-mask-image: url('../img/icons/ic_analytics.svg');
	-moz-mask-image: url('../img/icons/ic_analytics.svg');
	mask-image: url('../img/icons/ic_analytics.svg');
}
.ic_config {
	-webkit-mask-image: url('../img/icons/ic_config.svg');
	-moz-mask-image: url('../img/icons/ic_config.svg');
	mask-image: url('../img/icons/ic_config.svg');
}
.ic_files {
	-webkit-mask-image: url('../img/icons/ic_files.svg');
	-moz-mask-image: url('../img/icons/ic_files.svg');
	mask-image: url('../img/icons/ic_files.svg');
}
.ic_media {
	-webkit-mask-image: url('../img/icons/ic_media.svg');
	-moz-mask-image: url('../img/icons/ic_media.svg');
	mask-image: url('../img/icons/ic_media.svg');
}
.ic_groups {
	-webkit-mask-image: url('../img/icons/ic_groups.svg');
	-moz-mask-image: url('../img/icons/ic_groups.svg');
	mask-image: url('../img/icons/ic_groups.svg');
}
.ic_form {
	-webkit-mask-image: url('../img/icons/ic_form.svg');
	-moz-mask-image: url('../img/icons/ic_form.svg');
	mask-image: url('../img/icons/ic_form.svg');
}
.ic_eye {
	-webkit-mask-image: url('../img/icons/ic_eye.svg');
	-moz-mask-image: url('../img/icons/ic_eye.svg');
	mask-image: url('../img/icons/ic_eye.svg');
}
.ic_mask {
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-moz-mask-position: center;
	mask-position: center;
	-webkit-mask-size: 100% 100%;
	-moz-mask-size: 100% 100%;
	mask-size: 100% 100%;
}
.header {
	flex-grow: 0;
	flex-shrink: 0;
	height: 64px;
	/* background: #0079c4; */
	background: #222222;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: row;
}
.header .title {
	flex-grow: 1;
	flex-shrink: 1;
	z-index: 2;
	background: #242424;
}
.header .title .sitename {
	height: 64px;
	width: 256px;
	/* background-color: grey; */
	/* background-color: #223041; */
	background-image: url('../img/logohw.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.header .title .sitename .title {
	color: #FFFFFF;
	font-size: 24px;
	font-weight: bold;
	display: none;
}
.header .title .sitename .subtitle {
	color: #FFFFFF;
	font-size: 12px;
	padding-left: 4px;
	display: none;
}
.header .rsection {
	flex-grow: 0;
	flex-shrink: 1;
	position: relative;
}
.header .rsection:focus,
.header .rsection:focus-within {
	pointer-events: none;
}
.header .rsection .sectionbutton {
	height: 64px;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	padding: 0 12px;
	cursor: pointer;
	display: flex;
	align-items: center;
	align-content: center;
	transition: background-color 0.2s;
	position: relative;
	flex-direction: row;
	background: #1b1b1b;
	z-index: 2;
}
.header .rsection:focus .sectionbutton,
.header .rsection:focus-within .sectionbutton {
	background: #223041;
}
.header .rsection .sectionbutton:hover {
	background: #425061;
}
.header .rsection .sectionbutton .alerts {
	position: absolute;
	background: #dd3333;
	top: 12px;
	right: 8px;
	color: white;
	font-size: 10px;
	padding: 2px 4px;
	border-radius: 4px;
	font-weight: bold;
}
.header .rsection .icon {
	background: white;
	width: 24px;
	height: 24px;
}
.header .rsection .searchbar {
	width: 0;
	overflow: hidden;
	height: 100%;
	float: left;
	transition: all 0.2s, width 0.3s;
	pointer-events: auto;
	background: #223041;
  opacity: 0;
  transform: translateX(2em);
	z-index: -1;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.header .rsection:focus .searchbar,
.header .rsection:focus-within .searchbar {
	width: auto;
	opacity: 1;
	transform: translateX(0);
	z-index: 1;
	transition-delay: 0s, 0s, 0.3s;
}
.header .rsection .searchbar input[type='search'] {
	width: 150px;
	height: 40px;
	line-height: 40px;
	margin: 12px 0 12px 12px;
	border-radius: 4px 0 0 4px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	padding: 0 12px;
	background: rgba(0, 0, 0, 0.2);
	color: white;
	font-size: 13px;
	display: block;
	float: left;
}
.header .rsection .searchbar input[type='submit'] {
	width: 64px;
	height: 40px;
	margin: 12px 12px 12px 0;
	background: rgba(0, 0, 0, 0.2);
	color: white;
	font-weight: bold;
	border-radius: 0 4px 4px 0;
	padding: 0;
	font-size: 12px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-left: none;
	cursor: pointer;
}
.header .rsection .searchbar input[type='submit']:hover {
	background: #425061;
}
.header .rsection .dropdown {
	background: #223041;
	min-width: 100%;
	max-width: none;
	border: 1px solid rgba(255, 255, 255, 0.1);
  visibility: hidden;
	position: absolute;
  top: calc(100% + 1px);
	right: -1px;
	transition: all 0.3s;
	/* overflow: hidden; */
  opacity: 0;
  transform: translateY(-2em);
	z-index: -1;
	padding: 0 0 4px 0;
	pointer-events: auto;
	border-radius: 0 0 4px 4px;
}
.header .rsection:focus .dropdown,
.header .rsection:focus-within .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  z-index: 1;
  transition-delay: 0s, 0s, 0.3s;
}
.header .rsection .dropdown .item {
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	cursor: pointer;
	transition: 0.1s;
	text-decoration: none;
	display: flex;
	align-items: stretch;
	align-content: stretch;
	flex-direction: row;
	padding: 8px;
	flex-grow: 1;
	flex-shrink: 1;
}
.header .rsection .dropdown .item .icon {
	background: white;
	width: 16px;
	height: 16px;
	margin: 4px;
	flex-grow: 0;
	flex-shrink: 0;
}
.header .rsection .dropdown .item .label {
  /* writing-mode: horizontal-tb; */
	flex-grow: 1;
	flex-shrink: 0;
	color: white;
	height: 24px;
	margin: 0 40px 0 4px;
	font-size: 12px;
	line-height: 24px;
	text-align: left;
	white-space: nowrap;
}
.header .rsection .dropdown .item .alerts {
  /* writing-mode: horizontal-tb; */
	background: #dd3333;
	color: white;
	font-size: 10px;
	padding: 0 4px;
	margin: 4px;
	height: 16px;
	line-height: 16px;
	border-radius: 4px;
	font-weight: bold;
	flex-grow: 0;
	flex-shrink: 0;
}
.header .rsection .dropdown .item:focus,
.header .rsection .dropdown .item:hover {
	background: #425061;
}
.header .user .greeting {
	height: 100%;
	line-height: 18px;
	height: 36px;
	text-align: right;
	color: white;
	font-size: 11px;
	margin: 14px 8px;
}
.header .user .name {
	font-weight: bold;
	display: block;
	font-size: 14px;
}
.header .user .avatar {
	width: 40px;
	height: 40px;
	margin: 12px 8px;
}
.header .user .avatar img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 1px solid rgba(255, 255, 255, 0.2);
}
.container {
	flex-grow: 1;
	flex-shrink: 1;
	display: flex;
	align-items: stretch;
	align-content: stretch;
	flex-direction: row;
}
.sidebar {
	flex-shrink: 0;
	width: 224px;
	background: #223041;
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.02);
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
}
.sidebar .footer {
	flex-grow: 0;
	flex-shrink: 1;
	padding: 16px 8px;
	text-align: center;
}
.sidebar .footer .brand {
	color: #ffffff;
	font-size: 13px;
	line-height: 16px;
}
.sidebar .footer .version {
	color: #999;
	font-size: 10px;
	line-height: 12px;
}
.sidebar .navigation {
	flex-grow: 1;
	flex-shrink: 1;
	/* border-top: 1px solid rgba(255, 255, 255, 0.1); */
	/* margin-top: 16px; */
}
.sidebar .navigation .navsection {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar .navigation .navsection.active {
	background: #222031;
		pointer-events: none;
}
.sidebar .navigation .navsection:not(.active):focus,
.sidebar .navigation .navsection:not(.active):focus-within {
	pointer-events: none;
	background: #222839;
}
.sidebar .navigation .navsection .navbutton {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: stretch;
	cursor: pointer;
	transition: background-color 0.3s;
}
.sidebar .navigation .navsection .navbutton:hover,
.sidebar .navigation .navsection .navbutton:focus {
	background: #223849;
}
.sidebar .navigation .navsection .arrow {
	flex-grow: 0;
	flex-shrink: 0;
	background: rgba(255, 255, 255, 0.8);
	width: 24px;
	height: 24px;
	margin: 8px 8px 8px 0;
	transition: transform 0.3s;
	transform: rotate(0deg);
}
.sidebar .navigation .navsection .navbutton:hover .arrow {
	background: white;
}
.sidebar .navigation .navsection:focus .arrow,
.sidebar .navigation .navsection:focus-within .arrow {
	transform: rotate(-180deg);
}
.sidebar .navigation .navsection.active .arrow {
	visibility: hidden;
	display: none;
}
.sidebar .navigation .navsection .navitem {
	flex-grow: 1;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: stretch;
	text-decoration: none;
	padding: 8px 12px 8px 20px;
}
.sidebar .navigation .navsection .navitem[href] {
	pointer-events: auto;
}
.sidebar .navigation .navsection.active .navitem.active {
	background: #324051;
}
.sidebar .navigation .navsection.active .navitem.active:hover,
.sidebar .navigation .navsection.active .navitem.active:focus {
	background: #324859;
}
.sidebar .navigation .navsection .navitem .icon {
	flex-grow: 0;
	flex-shrink: 0;
	background: rgba(255, 255, 255, 0.8);
	width: 24px;
	height: 24px;
	transition: background-color 0.3s;
}
.sidebar .navigation .navsection.active .navitem .icon,
.sidebar .navigation .navsection .navitem:hover .icon,
.sidebar .navigation .navsection .navitem:focus .icon {
	background: white;
}
.sidebar .navigation .navsection .navitem .label {
	flex-grow: 0;
	flex-shrink: 0;
	color: rgba(255, 255, 255, 0.8);
	font-size: 13px;
	height: 24px;
	line-height: 24px;
	padding: 0 8px;
	transition: color 0.3s;
}
.sidebar .navigation .navsection.active .navitem .label,
.sidebar .navigation .navsection .navitem:hover .label,
.sidebar .navigation .navsection .navitem:focus .label {
	color: white;
}
.sidebar .navigation .navsection.active .navitem.active .label {
	font-weight: bold;
}
.sidebar .navigation .navsection .navitem .alert {
	background: #dd3333;
	color: white;
	font-size: 10px;
	padding: 0 4px;
	margin: 4px;
	height: 16px;
	line-height: 16px;
	border-radius: 4px;
	font-weight: bold;
	flex-grow: 0;
	flex-shrink: 0;
}
.sidebar .navigation .navsection .subitems {
	/*max-height: 0;*/
	height: 0;
	overflow: hidden;
	pointer-events: auto;
	opacity: 0;
	padding-bottom: 0;
	transition: all .3s;
	display: block;
	transform: translateY(-8px);
    transform-origin: top;
}
.sidebar .navigation .navsection.active .subitems,
.sidebar .navigation .navsection:focus .subitems,
.sidebar .navigation .navsection:focus-within .subitems {
	max-height: 200px;
	height: auto;
	opacity: 1;
	padding-bottom: 6px;
	transform: translateY(0);
	transition: all .3s;
}
.sidebar .navigation .navsection .subitem {
	flex-grow: 1;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: stretch;
	text-decoration: none;
	padding: 8px 4px 8px 4px;
	pointer-events: auto;
	transition: background-color 0.3s;
	border-radius: 4px;
	margin: 4px 8px 4px 24px;
}
.sidebar .navigation .navsection.active .subitem.active {
	background: #324051;
}
.sidebar .navigation .navsection.active .subitem.active:hover,
.sidebar .navigation .navsection.active .subitem.active:focus {
	background: #324859;
}
.sidebar .navigation .navsection .subitem:hover,
.sidebar .navigation .navsection .subitem:focus {
	background: #223849;
}
.sidebar .navigation .navsection .subitem .label {
	flex-grow: 0;
	flex-shrink: 0;
	color: rgba(255, 255, 255, 0.8);
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	padding: 0 8px;
	transition: color 0.3s;
}
.sidebar .navigation .navsection.active .subitem.active .label,
.sidebar .navigation .navsection .subitem:hover .label,
.sidebar .navigation .navsection .subitem:focus .label {
	color: white;
}
.sidebar .navigation .navsection.active .subitem.active .label {
	font-weight: bold;
}
.sidebar .navigation .navsection .subitem .alert {
	background: #dd3333;
	color: white;
	font-size: 10px;
	padding: 0 4px;
	margin: 0 4px;
	height: 16px;
	line-height: 16px;
	border-radius: 4px;
	font-weight: bold;
	flex-grow: 0;
	flex-shrink: 0;
}

.content {
	flex-grow: 1;
	flex-shrink: 1;
	overflow-y: auto;
	background: #f8f8fa;
}
.cont_header {
	background: #FFFFFF;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 48px 64px 32px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: stretch;
}
.cont_header .head_left {
	flex-grow: 1;
	flex-shrink: 1;
}
.cont_header .head_right {
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: stretch;
}
.cont_header .head_right .button {
	padding: 10px 24px;
	border-radius: 6px;
	border: 1px solid #ccc;
	font-size: 13px;
	line-height: 14px;
	margin-left: 24px;
}
.cont_header .head_right .save {
	background: #6789ef;
	border-color: #4567cd;
	color: white;
	font-weight: bold;
}
.cont_header .subtitle  {
	font-size: 12px;
	color: #777;
}
.cont_header .post_title {
	position: relative;
}
.cont_header .post_title label {
	color: #666666;
	display: block;
	font-size: 12px;
	font-weight: bold;
	padding-top: 4px;
	text-transform: uppercase;
}
.cont_header .post_title input {
	font-size: 20px;
	margin-top: 6px;
	width: 100%;
	padding: 6px 0;
	transition: padding 0.2s, font-size 0.2s, border-color .3s;
}
.cont_header .post_title input:hover {
	border-color: #a6a7dbbb;
}
.cont_header .post_title input:focus {
	padding: 12px 0 6px;
	font-size: 24px;
	border-color: #6677bbbb;
}
.cont_header .post_title input::placeholder {
	color: #aaa;
	font-size: 20px;
	transition: font-size 0.2s;
}
.cont_header .post_title input:focus::placeholder {
	font-size: 24px;
}

.cont_divider {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: stretch;

}

.cont_divider .cont_left {
	flex-grow: 1;
	flex-shrink: 1;
	padding: 16px;
}
.cont_divider .cont_left textarea {
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	width: 100%;
	height: 200px;
	padding: 24px;
	resize: none;
	font-family: monospace;
	font-size: 12px;
	line-height: 16px;
	white-space: pre-wrap;
	overflow-y: scroll;
}

.cont_divider .cont_right {
	flex-grow: 0;
	flex-shrink: 0;
	width: 288px;
	padding: 16px 16px 16px 0;
}
.cont_divider .cont_right .section {
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin-bottom: 16px;
}
.cont_divider .cont_right .section .section_title {
	padding: 12px 12px 8px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px 4px 0 0;
	font-size: 13px;
	font-weight: bold;
	background: #f7f7f7;
}
.cont_divider .cont_right .section .section_body {
	font-size: 13px;
	line-height: 14px;
}
.cont_divider .cont_right .section .section_body textarea {
	width: 100%;
    word-wrap: break-word;
    word-break: normal;
    resize: vertical;
	font-size: 13px;
	line-height: 14px;
	padding: 12px;
}


