html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: white;
}
#header {
	background: rgb(42, 63, 84);
	background: #202020;
	height: 48px;
	margin: 0;
	padding: 0 48px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
	/*box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);*/
}
#header_container {
	max-width: 960px;
	margin: 0 auto;
	line-height: 24px;
	padding: 12px 0;
}
#header_left {
	float: left;
}
#header_right {
	float: right;
}
#title {
	color: #FFFFFF;
	font-size: 24px;
	font-weight: bold;
}
#subtitle {
	color: #FFFFFF;
	font-size: 12px;
	padding-left: 6px;
}
#time {
	text-align: right;
	color: #ffffff;
	font-size: 10px;
	font-weight: bold;
	font-family: monospace;
}
#content {
	padding: 48px;
}
#container {
	background: #FFFFFF;
	max-width: 960px;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	padding: 48px;
	box-sizing: border-box;
	border-radius: 2px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.025);
}
#message {
	padding: 12px 12px 4px;
	color: #333333;
	font-size: 24px;
	font-weight: bold;
}
#file {
	padding: 0 12px 12px;
	color: #666666;
	font-size: 12px;
}
#debug {
	padding: 12px;
	font-size: 12px;
}
.item {
	border-left: 2px solid rgba(0, 0, 0, 0.2);
	padding: 6px 0 6px 24px;
}
.method {
	color: #333333;
	font-size: 12px;
	font-family: monospace;
}
.file {
	color: #666666;
	font-size: 10px;
}
#footer {
	color: #666666;
	font-size: 10px;
	max-width: 960px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
	padding: 24px;
	box-sizing: border-box;
}
#footer a {
	text-decoration: none;
	color: #6644bb;
}
#footer a:hover {
	color: #442288;
}
