html, body {
	font-family: sans-serif;
	margin: 0;
	min-height: 100vh;
	padding: 0;
}
body {
	align-items: center;
	background:	#223041;
	background: #eee;
	display: flex;
	justify-content: center;
}
.content {
	padding: 24px 0;
}
.container {
	background: #FFFFFF;
	/*background: white url('../img/debug_grid.png') repeat-x top left;*/
	border-radius: 3px;
	box-shadow: 0 3px 0 0 #4A688D inset, 0 0 0 1px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	min-width: 340px;
	/*padding: 24px;*/
	overflow: hidden;
}
.return {
	padding: 24px 24px 0;
	/*height: 16px;*/
}
.return a::before {
	content: '';
	display: block;
	width: 16px;
	height: 16px;
	background: #4A688D;
	float: left;
	-webkit-mask-image: url('../img/icons/ic_arrow_left.svg');
	-moz-mask-image: url('../img/icons/ic_arrow_left.svg');
	mask-image: url('../img/icons/ic_arrow_left.svg');
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-moz-mask-position: center;
	mask-position: center;
	-webkit-mask-size: 100% 100%;
	-moz-mask-size: 100% 100%;
	mask-size: 100% 100%;
	transition: background-color 0.2s;
}
.return a {
	font-size: 12px;
	color: #4A688D;
	display: block;
	height: 16px;
	line-height: 16px;
	text-decoration: none;
	transition: color 0.2s;
}
.return a:hover {
	color: #6B98CD;
}
.return a:hover::before {
	background: #6B98CD;
}
.return a:active {
	color: #223041;
}
.return a:active::before {
	background: #223041;
}
.branding {
	padding: 0 24px 32px;
}
.branding .logo {
	background-image: url('../img/acme.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	direction: ltr;
	height: 100px;
}
.branding .logo span {
	display: none;
}
.header {
	padding: 24px 24px 0;
	position: relative;
}
.header .title {
	color: #333333;
	font-size: 24px;
	font-weight: bold;
	padding: 12px 12px 4px;
	text-align: center;
}
.header .subtitle {
	color: #666666;
	font-size: 12px;
	margin-top: 6px;
	text-align: center;
	max-width: 300px;
}
.loginform {
	padding-top: 40px;
	overflow: hidden;
}
.loginerror {
	color: #994422;
	font-size: 13px;
	font-weight: bold;
	margin: -12px 0 24px;
	text-align: center;
}
.loginform .username {
	padding: 0 24px;
}
.loginform .password {
	padding: 12px 24px 0;
}
.loginform .remember {
	padding: 12px 24px 0;
}
.loginform .submit {
	background: #f8f8f8;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	margin-top: 24px;
	padding: 16px 24px;
	/*border-radius: 0 0 4px 4px;*/
	/*box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1) inset;*/
}
.textboxlabel {
	color: #666666;
	display: block;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 4px;
}
.textbox {
	position: relative;
}
.textbox input {
	border: 1px solid #cccccc;
	border-radius: 4px;
	color: #444444;
	font-size: 12px;
	line-height: 14px;
	padding: 10px 10px 10px 36px;
	position: relative;
	transition: border-color 0.2s, box-shadow .2s, background-color .3s, padding .2s, font-size .2s;
	width: 100%;
	background: #fafafa;
}
.textbox input:focus {
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 13px;
	background: #ffffff;
}
.icon {
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-moz-mask-position: center;
	mask-position: center;
	-webkit-mask-size: contain;
	-moz-mask-size: contain;
	mask-size: contain;
	transition: background-color 0.3s, width 0.3s, left 0.3s;
	width: 16px;
	background: #999;
	/*height: 16px;*/
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	left: 12px;
	pointer-events: none;
}
.ic_user {
	/*background-image: url('../img/icons/ic_login_username.svg');*/
	-webkit-mask-image: url('../img/icons/ic_login_username.svg');
	-moz-mask-image: url('../img/icons/ic_login_username.svg');
	mask-image: url('../img/icons/ic_login_username.svg');
}
.ic_password {
	/*background-image: url('../img/icons/ic_login_password.svg');*/
	-webkit-mask-image: url('../img/icons/ic_login_password.svg');
	-moz-mask-image: url('../img/icons/ic_login_password.svg');
	mask-image: url('../img/icons/ic_login_password.svg');
}
.textbox input:hover,
.checkbox:hover {
	border-color: #a6a7dbbb;
}
.textbox input:hover ~ .icon {
	background: #9697bbbb;
}
.textbox input:focus,
.checkbox:focus {
	border-color: #6677bbbb;
}
.textbox input:focus ~ .icon {
	background: #36478bbb;
	left: 11px;
	width: 18px;
}
.checkbox {
	background: white;
	border: 1px solid #cccccc;
	border-radius: 4px;
	height: 20px;
	position: relative;
	transition: border-color 0.2s, box-shadow .2s;
	width: 20px;
}
.checkbox::after {
	background: #4A688D;
	border-radius: 2px;
	bottom: 4px;
	content: '';
	font-size: 18px;
	left: 4px;
	line-height: 20px;
	opacity: 0;
	position: absolute;
	right: 4px;
	text-align: center;
	top: 4px;
	transform: scale(0);
	transition: background-color .3s, opacity .2s, transform .1s;
}
.checkbox:hover::after {
	background: #6B98CD;
}
.checkbox:checked::after {
	opacity: 1;
	transform: scale(1);
}
.checkboxlabel {
	color: #666666;
	font-size: 12px;
}
.forgotpassword {
	display: block;
	float: right;
	font-size: 10px;
	color: #4A688D;
	text-decoration: none;
	transition: color 0.2s;
}
a.forgotpassword:hover {
	color: #6B98CD;
}
a.forgotpassword:active {
	color: #223041;
}
.submitbutton {
	background: #4A688D;
	border: 1px solid #223041;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	margin-top: 0px;
	padding: 10px;
	transition: background-color .3s, border-color.3s;
	width: 100%;
}
.submitbutton:hover,
.submitbutton:focus {
	background: #6B98CD;
	border-color: #4A688D;
}
.submitbutton:active {
	background: #223041;
	border: 1px solid #1B2633;
}
.footer {
	color: #999999;
	font-size: 10px;
	margin-top: 24px;
	text-align: center;
}
.footer a {
	color: #6B98CD;
	text-decoration: none;
	transition: color 0.2s;
}
.footer a:hover {
	color: #9BC8ED;
}
.footer a:active {
	color: #4A688D;
}
