html, body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow-x: hidden;
	min-height: 100vh;
}
*, *:before, *:after {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	-moz-user-select: inherit;
	-webkit-user-select: inherit;
	-ms-user-select: inherit;
	user-select: inherit;
	flex-grow: 0;
	flex-shrink: 0;
	cursor: inherit;
}
button, input, optgroup, select, textarea {
  vertical-align :middle;
  font-family: inherit; /* Change the font styles in all browsers. */
  font-size: 1em;
  line-height: 1.15;
  margin: 0; /* Remove the margin in Firefox and Safari. */
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

body {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	background: rgba(100, 125, 150);
	font-family: 'Open Sans', sans-serif;
}
.background {
	flex: 1;
	background-image: url('../images/action-adult-car-340779.jpg');
	background-repeat: none;
	background-size: cover;
	background-position: center;
	opacity: 0.4;
}
.content {
	flex: 0 auto;
	background: white;
	width: 50%;
	transition: width 0.6s;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: stretch;
	align-items: stretch;
}
.content .container {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	min-width: 360px;
	padding: 0 80px;
	width: 100%;
	max-width: 480px;
}
.content .container .form {

}
.content .header {
	margin-bottom: 24px;
}
.content .header .title {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}
.content .header .subtitle {
	text-align: center;
	font-size: 14px;
	font-weight: 600;
}
.content .form {
}
.content .form .username {
	padding-bottom: 16px;
}
.content .form .password {
	padding-bottom: 16px;
}
.content .form .textbox {
	outline: 1px solid blue;
	background: pink;
	position: relative;
}
.content .form .textbox input {
	display: block;
	width: 100%;
	height: 40px;
	padding: 0 12px 0 32px;
	transition: margin-bottom 400ms;
}
.content .form .textbox input:not(:placeholder-shown) {
	margin-bottom: 24px;
}
.content .form .textbox .icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: blue;
	width: 32px;
	-webkit-mask-repeat: no-repeat;
	-moz-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-moz-mask-position: center;
	mask-position: center;
	-webkit-mask-size: 20px;
	-moz-mask-size: 20px;
	mask-size: 20px;
	pointer-events: none;
	z-index: 2;
}
.content .form .textbox input:focus ~ .icon {
	background-color: green;
}
.content .form .textbox label {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	pointer-events: none;
	vertical-align: baseline;
	z-index: 2;
	font-size: 12px;
	line-height: 24px;
	color: #999;
	transition: top 400ms, left 400ms, bottom 400ms;
}
.content .form .textbox input:placeholder-shown ~ label {
	color: blue;
	top: 0;
	bottom: 0;
	left: 32px;
}
.content .form .textbox input:not(:placeholder-shown) ~ label {
	color: red;
	top: 100%;
	left: 0;
}
.ic_user {
	-webkit-mask-image: url('../images/icons/ic_login_username.svg');
	-moz-mask-image: url('../images/icons/ic_login_username.svg');
	mask-image: url('../images/icons/ic_login_username.svg');
}
.ic_password {
	-webkit-mask-image: url('../images/icons/ic_login_password.svg');
	-moz-mask-image: url('../images/icons/ic_login_password.svg');
	mask-image: url('../images/icons/ic_login_password.svg');
}
.content .form .submitbutton {
	border-radius: 2px;
	background: rgba(100, 125, 150);
	width: 100%;
	display: block;
	padding: 12px 0;
	cursor: pointer;
	font-size: 12px;
	color: white;
	transition: background-color .3s;
}
.content .form .submitbutton:hover {
	background: rgba(138, 157, 176);
}
.content .form .submitbutton:active {
	background: rgba(87, 108, 130);
}

.content .branding {
	flex: 0 auto;
}
.content .branding .logo {
	background-image: url('../images/logohb.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 80px;
}
.content .branding .logo span {
	display: none;
}
.content .footer {
	flex: 0 auto;
	color: #999999;
	font-size: 9px;
	margin-bottom: 32px;
	text-align: center;
}
.content .footer a {
	color: #6B98CD;
	text-decoration: none;
	transition: color 0.2s;
	cursor: pointer;
}
.content .footer a:hover {
	color: #4A688D;
}
.content .footer a:active {
	color: #9BC8ED;
}


@media (max-width: 1920px) {
	
}

@media (max-width: 1280px) {
	.content {
		width: 66%;
	}
}

@media (max-width: 640px) {
	.content {
		width: 100%;
	}
}