html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.15; /* Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
*, *:before, *:after {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -moz-user-select: inherit;
  -webkit-user-select: inherit;
  -ms-user-select: inherit;
  user-select: inherit;
	flex-grow: 0;
	flex-shrink: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font: inherit;
  font-weight: normal;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block; /* HTML5 display-role reset for older browsers */
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
summary {
  display: list-item; /* Add the correct display in all browsers. */
}
template {
  display: none; /* Add the correct display in IE 10+. */
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
  box-sizing: content-box; /* Add the correct box sizing in Firefox. */
  height: 0;
  overflow: visible; /* Show the overflow in Edge and IE. */
}
pre, code, kbd, samp {
  font-family: monospace, monospace; /* Correct the inheritance and scaling of font size in all browsers. */
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers. */
}
a {
  background-color: transparent; /* Remove the gray background on active links in IE 10. */
}
abbr[title], dfn[title] {
  cursor: help;
  border-bottom: none; /* Remove the bottom border in Chrome 57- */
  text-decoration: underline; /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
  text-decoration: underline dotted;
}
[hidden] {
  display: none; /* Add the correct display in IE 10. */
}
b, strong {
  font-weight: bolder; /* Add the correct font weight in Chrome, Edge, and Safari. */
}
small {
  font-size: 0.8em; /* Add the correct font size in all browsers. */
}
sub, sup {
  font-size: 0.75em;
  line-height: 0; /* Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none; /* Remove the border on images inside links in IE 10. */
}
button, input, optgroup, select, textarea {
  vertical-align :middle;
  font-family: inherit; /* Change the font styles in all browsers. */
  font-size: 1em;
  line-height: 1.15;
  margin: 0; /* Remove the margin in Firefox and Safari. */
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
button,
input {
  overflow: visible; /* Show the overflow in IE and Edge. */
}
button,
select {
  text-transform: none; /* Remove the inheritance of text transform in Edge, Firefox, and IE. */
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS and Safari. */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none; /* Remove the inner border and padding in Firefox. */
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; /* Restore the focus styles unset by the previous rule. */
}
fieldset {
  padding: 0.35em 0.75em 0.625em; /* Correct the padding in Firefox. */
}
legend {
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE. */
  padding: 0; /* Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. */
  box-sizing: border-box; /* Correct the text wrapping in Edge and IE. */
  display: table;
  max-width: 100%;
  white-space: normal;
}
progress {
  vertical-align: baseline; /* Add the correct vertical alignment in Chrome, Firefox, and Opera. */
}
textarea {
  overflow: auto; /* Remove the default vertical scrollbar in IE 10+. */
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* Add the correct box sizing in IE 10. */
  padding: 0; /* Remove the padding in IE 10. */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; /* Correct the cursor style of increment and decrement buttons in Chrome. */
}
[type="search"] {
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari. */
  outline-offset: -2px; /* Correct the outline style in Safari. */
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS. */
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS and Safari. */
  font: inherit; /* Change font properties to `inherit` in Safari. */
}
