html, body {
    background: #333;
    color: #eee;
}
a {
    color: #aaf;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-decoration-skip: ink;
    text-decoration-style: dotted;
    text-decoration-color: #66c;
    font-style: italic;
}
